* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 400;
}
.parent {
  width: 100%;
  height: 100vh;
  background-color: #535353;
}
.parent .child {
  width: 85%;
  height: 90%;
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px rgb(5, 5, 66);
  border-radius: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.logo-title {
  font-size: 35px;
  margin: 20px;
  color: rgb(10, 20, 80);
}
.red-text {
  color: red;
  font-weight: bolder;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  list-style: none;
  margin: 20px;
}
.menu_item a {
  text-decoration: none;
  color: rgb(10, 20, 88);
  font-size: 20px;
  border-radius: 20px;
  font-weight: 900;
  padding: 7px 20px;
  transition: all 0.3s ease-in-out;
}
.menu_item a:hover {
  background-color: rgb(247, 191, 5);
  padding: 7px 20px;
  font-weight: 900;
  border-radius: 20px;
}
.hero {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  margin-top: 50px;
  gap: 30px;
}
.title {
  font-size: 80px;
  color: rgb(10, 20, 80);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.description {
  color: #535353;
  font-size: 20px;
  line-height: 1.5;
}
.button {
  max-width: 200px;
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  border-radius: 20px;
  background-color: rgb(221, 171, 8);
  color: white;
  transition: all 0.3s ease-in;
}
.button:hover {
  background-color: rgb(22, 10, 80);
}
.hero .right {
  width: 50%;
  height: 100%;
  background-image: url("./images/camping.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-mask-image: url("./images/blob.png");
  -webkit-mask-size: 800px 700px;
  -webkit-mask-repeat: no-repeat;
}
.left .social-media {
  width: 100%;
  height: 30px;
  margin: 50px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.left .fa-brands {
  font-size: 30px;
  margin: 0 10px;
  color: rgb(22, 10, 80);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.left .fa-brands:hover {
  font-size: 50px;
  color: black;
}
.social-media::before {
  content: "";
  width: 35%;
  height: 4px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  top: 50%;
  right: 0;
}
.social-media::after {
  content: "";
  width: 35%;
  height: 4px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
}
